{% extends 'base.html.twig' %}

{% block title %}Nouveau Post — SymfoConnect{% endblock %}

{% block body %}
    <div class="card" style="max-width: 600px; margin: 0 auto;">
        <h1>🖊️ Créer un nouveau post</h1>

        {{ form_start(form) }}
            {{ form_row(form.content) }}
            <button type="submit" class="btn btn-primary" style="width:100%">Publier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}