APP_ENV=prod
APP_DEBUG=0
APP_SECRET=changez_ce_secret_en_production
DATABASE_URL="mysql://user:password@127.0.0.1:3306/symfoconnect"
MAILER_DSN=smtp://user:password@smtp.example.com:587
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
